<h2 class="title-1" style="margin-bottom: 20px;">Rutinas</h2>

@if(routines) {
    <ul class="workouts">
        @for (routine of routines; track $index) {
            <li>
                <a routerLink="/workout/{{routine._id }}">
                    <span class="workouts__number">#{{$index}}</span>
                    {{routine.name}}
                </a>
            </li>
        }
    </ul>

    <button routerLink="/workout/new" class="btn btn--add">Crear rutina</button>

} @else {
    <p>Cargando...</p>
}
