.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;

    &__content {
        background-color: var(--white);
        color: var(--black);
        padding: 20px;
        border-radius: 4px;
    }

    &__image {
        width: 100%;
        object-fit: contain;
        border-radius: 4px;
    }
    
    &__weight {
        display: flex;
        flex-direction: column;
        gap: 8px;
        border: 1px dashed var(--accent);
    }

    button {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        padding: 20px 40px;
        font-weight: bold;
    }
}