<h2 class="title-1" style="margin-bottom: 20px;">Nueva rutina</h2>

<input class="input" type="text" placeholder="Nombre">


<div class="exercice">
    <div style="display: flex; align-items: flex-end; gap: 10px; margin-bottom: 10px;">
        <div style="display:grid; place-items: center; width: 100px; aspect-ratio: 1; background-color: #000; border-radius: 400px; color: white;">IMG</div>
        
        <input class="input" type="text" placeholder="Ejercicio">
    </div>
    
    
    
    <div style="display: flex; gap: 10px;">
        <input class="input" type="number" placeholder="Sets">
        <input class="input" type="number" placeholder="Reps">
        <input class="input" type="number" placeholder="Peso">
        <input class="input" type="number" placeholder="Rest">
    </div>
    
    <textarea class="input" placeholder="Notas" style="resize: none;"></textarea>
    
</div>

<button class="btn btn--add" style="width: 100%; margin-top: 10px;">Añadir ejercicio</button>
