@if(exercice) {
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="table__header">Set</th>
                    <th class="table__header">Reps</th>
                    <th class="table__header">Peso</th>
                    <th class="table__header"></th>
                </tr>
            </thead>
            <tbody>
                @for (set of sets; track $index) {
                    <tr class="table__row">
                        <td class="table__cell table__cell--first">{{ $index + 1}}</td>
                        <td class="table__cell">{{ exercice.reps}}</td>
                        <td class="table__cell">
                            <button class="table__btn">{{ exercice.weights[0].kg }} <span style="font-size: 12px">kg</span></button>
                        </td>
                        <td class="table__cell table__cell--last">
                            <input type="checkbox" class="table__checkbox" (change)="onChecked($event)" /> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}