.table{
    width: 100%;
    border: 2px solid var(--white);
    border-collapse: collapse;
    text-align: center;
}

.table__header {
    border: 1px solid currentColor;
    padding: 6px;
    background-color: var(--white);
    color: var(--black);
}

.table__cell {
    border: 1px solid var(--white);
    padding: 6px;
    background-color: var(--secondary);
}