<div>
    <table class="table">
        <thead>
            <tr>
                <th class="table__header">Set</th>
                <th class="table__header">Reps</th>
                <th class="table__header">Peso</th>
                <th class="table__header">✅</th>
            </tr>
        </thead>
        <tbody>
            @for (exercice of exercices; track $index) {
                <tr>
                    <td class="table__cell">{{exercice.set}}</td>
                    <td class="table__cell">{{exercice.reps}}</td>
                    <td class="table__cell">
                        <button style="padding: 4px 10px;">{{exercice.weight}}</button>
                    </td>
                    <td class="table__cell">
                        <input type="checkbox" style="height: 20px; width: 20px" (change)="onChecked($event,exercice)" /> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>