:root {
    /*__COLORS__*/
    --black: #24293E;
    --secondary: #2F3855;
    --white: #F4F5FC;
    --blue: #8EBBFF;
    --green: #00C48C;
    --green-soft:#16675D;
    --red: #FF6B6B;

    --accent: var(--blue);

    /*__SIZES__*/
    --header-height: 50px;
    --footer-height: 70px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, sans-serif;
    background: rgb(36,41,62);
    background: linear-gradient(90deg, rgba(36,41,62,1) 0%, rgba(47,56,85,1) 50%, rgba(36,41,62,1) 100%);
}

body {
    overflow-x: hidden;
}

hr {
    opacity: 0.4;
    margin: 20px 0;
}

/*__________________________________________________*/
/*__TEXT__*/
.title-1 {
    font-size: 28px;
    opacity: 0.6;
}
.title-2 {
    font-size: 24px;
}
.title-3 {
    font-size: 18px;
}

/*__________________________________________________*/
/* __BUTTON__ */
.btn {
    background-color: var(--accent);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 400ms ease;

    &:hover {
        transform: scale(0.95);
    }

    &:active {
        transform: scale(0.9);
    }
}

/*__________________________________________________*/
/* __INPUT__ */
.input {
    display: block;
    width: 100%;
    background-color: var(--secondary);
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: all 400ms ease;

    &:focus {
        outline: none;
        border-color: var(--accent);
        transform: scale(1.02);
    }

    &::placeholder {
        color: var(--white);
        opacity: 0.4;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;

    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
