<div class="exercice">
    <h4 class="title-2">Remo en barra libre</h4>
    <div class="exercice__content">
        <img class="exercice__image" src="https://cdn.shopify.com/s/files/1/0269/5551/3900/files/Barbell-Row_4beb1d94-bac9-4538-9578-2d9cf93ef008_600x600.png?v=1612138201" alt="Random image">
        <div class="exercice__info">
            <p class="exercice__rest"><b>Rest:</b> 2min</p>
            <div class="exercice__notes">
                <h5 class="title-3" style="opacity: 0.6;">Notas</h5>
                <p class="exercice__note-text">La barra de fuera pesa 20kgs pero está oxidada...</p>
            </div>
        </div>
    </div>
</div>