<div class="exercice">
    <h4 class="title-2">{{ exercices[0].name }}</h4>
    <div class="exercice__content">
        <img class="exercice__image" [src]="exercices[0].image" alt="Random image">
        <div class="exercice__info">
            <p class="exercice__rest"><b>Rest:</b> {{ exercices[0].rest }}min</p>
            <div class="exercice__notes">
                <h5 class="title-3" style="opacity: 0.6;">Notas</h5>
                <p class="exercice__note-text">{{ exercices[0].notes }}</p>
            </div>
        </div>
    </div>
</div>