<form [formGroup]="exerciceForm" class="dropdown" (ngSubmit)="onSubmit()">
    <div class="dropdown__header" (click)="openDropdown($event)">
      <span class="dropdown__number">#{{ index < 9 ? '0' : ''}}{{ index + 1}}</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M6 9l6 6l6 -6" />
      </svg>
    </div>
    <!-- TITLE + IMAGE -->
    <div class="dropdown__top">
      <div class="dropdown__image" (click)="openImageInput($event)">
        <img [src]="imageUrl" alt="Exercice">
      </div>

      <div class="image__input">
        <mat-form-field>
          <mat-label>URL imagen</mat-label>
          <input matInput type="string" formControlName="image"/>
        </mat-form-field>

        <button class="btn" (click)="closeImageInput($event)">Añadir</button>
      </div>
  
      <!-- <input 
        class="input" 
        type="text" 
        placeholder="Ejercicio" 
        formControlName="name"
        (blur)="onInputBlur($event)"
      /> -->
      <mat-form-field>
        <mat-label>Ejercicio</mat-label>
        <input matInput type="string" formControlName="name" (blur)="onInputBlur($event)"/>
      </mat-form-field>
    </div>
  
    <!-- SETS + REPS + PESO + REST -->
    <div style="display: flex; gap: 10px">
      <mat-form-field>
        <mat-label >Sets</mat-label>
        <input matInput type="number" formControlName="sets" (blur)="onInputBlur($event)">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Reps</mat-label>
        <input matInput type="number" formControlName="reps" (blur)="onInputBlur($event)"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Peso</mat-label>
        <input matInput type="number" formControlName="weight" (blur)="onInputBlur($event)"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rest</mat-label>
        <input matInput type="number" formControlName="rest" (blur)="onInputBlur($event)"/>
      </mat-form-field>
      <!-- <input class="input" type="number" placeholder="Sets" formControlName="sets" (blur)="onInputBlur($event)"/> -->
      <!-- <input class="input" type="number" placeholder="Reps" formControlName="reps" (blur)="onInputBlur($event)"/>
      <input class="input" type="number" placeholder="Peso" formControlName="weights" (blur)="onInputBlur($event)"/>
      <input class="input" type="number" placeholder="Rest" formControlName="rest" (blur)="onInputBlur($event)"/> -->
    </div>
  
    <!-- NOTES -->
    <mat-form-field>
      <mat-label>Notas</mat-label>
      <textarea  matInput style="resize: none" formControlName="notes" (blur)="onInputBlur($event)"></textarea>
    </mat-form-field>
    <!-- <textarea  class="input" placeholder="Notas" style="resize: none" formControlName="notes" (blur)="onInputBlur($event)"></textarea> -->
  </form>